<!DOCTYPE html>

<html>

    <meta charset = "utf-8" />
    <meta name="viewport" content="with=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>Les meilleurs noms Kahoot pour toi</title>


    <body>

      <div class="container">
        
        <br>
        <h1 align="center"> Bienvenue à ta source préférée des meilleurs noms Kahoot adaptés à toi</h1>
        
        <br>

        <h3 align="center" > Que préfères tu faire? </h3>
    
          <h3 align="center" > Envoyer un nouveau nom </h3>
          <div class="form-group">
            <label for="suggestion"> As-tu une nouvelle suggestion de nom? Partage-la avec la communauté </label>
            <input type="text" class="form-control" id="suggestion" name="suggestion" placeholder="Fais nous marrer"/>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <button onclick="insertSuggestion()" class="btn btn-primary">Envoyer</button>
              </div>
              <div class="col-xs-10">
                <h3 id = "suggestionstatus"></h3>                                                                                    
                </div>
            </div>
        </div>

    
          <h3 align="center"> Recevoir un nom </h3>
          <div class="form-group">
            <label for="name"> Envoies nous ton vrai nom ou un truc drôle pour qu'on puisse choisir le meilleur nom pour toi </label>
            <input type="text" class="form-control" id="name" name="name" placeholder="J'ai de la chance"/>
          </div>

          <button onclick="getName()" class="btn btn-primary">Envoyer</button>
          <h3 id = "nameStatus"></h3>  

        </div>


  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>


    <script
    type="text/javascript"
    src="{{url_for('static', filename='index.js')}}" 
    ></script>
  

    </body>


</html>